<div class="main container-fluid">
  <div class="d-flex justify-content-md-between justify-content-center align-items-center client">
    <h3 class="titre">Client</h3>
    <div class="d-none d-md-block">
      <div class="user-email d-flex align-items-center">
        <span class="indice mx-2">T</span>
        <h6 class="mail-title">thiaremohamed.mt@gmail.com</h6>
      </div>
    </div>
  </div>
  <div class="contenu">
    <div class="d-block d-md-flex p-3 justify-content-between">
     <h4 class="text">Liste des clients</h4>
     <div class="d-block d-md-flex">
       <form action="" class="d-flex">
         <input type="text" class="form-control  mx-2" placeholder="Nom de famille">
         <input type="submit" class="btn btns text-light" value="Rechercher">
       </form>
       <button type="button"  class="btn btns mx-5 text-light"  (click)="open(content)">Ajouter client</button>

     </div>
   </div>
    <div class="row p-5 tablel">
      <table class="table table-striped p-3">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Sexe</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>  <tr>
          <td>1</td>
          <td>Mohamed</td>
          <td>THIARE</td>
          <td>M</td>
          <td>Point E</td>
          <td>77 786 86 67</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>

<!--POPUP AJOUT Client-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="ajout-client">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter client</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <input type="text" class="form-control mb-3" placeholder="Prenom">
      <input type="text" class="form-control mb-3" placeholder="Nom">
      <select class="form-control mb-3">
        <option value="M">Masculin</option>
        <option value="F">Feminin</option>
      </select>
      <input type="text" class="form-control mb-3" placeholder="Adresse">
      <input type="number" class="form-control mb-3" placeholder="Telephone">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btns m-auto w-100 text-light" (click)="c('Save click')">Ajouter</button>
    </div>
  </div>
</ng-template>
