<div class="main container-fluid">
  <div class="d-flex justify-content-md-between justify-content-center align-items-center client">
    <h3 class="titre">Client</h3>
    <div class="d-none d-md-block">
      <div class="user-email d-flex align-items-center">
        <span class="indice mx-2">T</span>
        <h6 class="mail-title">thiaremohamed.mt@gmail.com</h6>
      </div>
    </div>
  </div>
  <div class="contenu">
    <div class="d-block d-md-flex p-3 justify-content-between">
     <h4 class="text">Liste des clients</h4>
     <div class="d-block d-md-flex">
       <form action="" class="d-flex">
         <input type="text" class="form-control  mx-2" placeholder="Nom de famille">
         <input type="submit" class="btn btns text-light" value="Rechercher">
       </form>
       <button type="button"  class="btn btns mx-5 text-light"  (click)="open(content)">Ajouter client</button>

     </div>
   </div>
    <div class="p-5 tablel" *ngIf="clients">
      <table class="table table-striped p-3">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Sexe</th>
          <th>Lieu de naissance</th>
          <th>date de naissance</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients | async">
          <td>{{client.id}}</td>
          <td>{{client.prenom}}</td>
          <td>{{client.nom}}</td>
          <td>{{client.sexe}}</td>
          <td>{{client.lieu_naissance}}</td>
          <td>{{client.date_naissance | date: "short"}}</td>
          <td>{{client.numero_telephone}}</td>
          <td class="d-flex">
            <i class="bi bi-pencil-square text-success"></i>
            <i class="bi bi-trash3-fill text-danger mx-3"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--POPUP AJOUT Client-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="ajout-utilisateur">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter utilisateur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm">

        <input type="text" class="form-control mb-3" placeholder="Prenom" formControlName="prenom">
        <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="nom">
        <input type="date" class="form-control mb-3" placeholder="Date de Naissance" formControlName="date_naissance">
        <input type="text" class="form-control mb-3" placeholder="Lieu de naissance" formControlName="lieu_naissance">
        <label>Sexe</label>
        <select class="form-control mb-3" formControlName="sexe">
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
        <input type="number" class="form-control mb-3" placeholder="Numéro de téléphone" formControlName="numero_telephone">
        <input type="number" class="form-control mb-3" placeholder="Numéro national d'identité" formControlName="numero_cni">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btns m-auto w-100 text-light"
              [disabled]="clientForm.invalid"
              (click)="c('Save click')"
              (click)="save()">
        Ajouter
      </button>
    </div>
  </div>
</ng-template>
