<div class="main container-fluid">
  <div class="d-flex justify-content-md-between justify-content-center align-items-center client">
    <h3 class="titre">Client</h3>
    <div class="d-none d-md-block">
      <div class="user-email d-flex align-items-center">
        <span class="indice mx-2">T</span>
        <h6 class="mail-title">thiaremohamed.mt@gmail.com</h6>
      </div>
    </div>
  </div>
  <div class="contenu">
    <div class="d-block d-md-flex p-3 justify-content-between">
     <h4 class="text">Liste des clients</h4>
     <div class="d-block d-md-flex">
       <form action="" class="d-flex">
         <input type="text" class="form-control  mx-2" placeholder="Nom de famille" [(ngModel)]="nom" name="nom">
         <input type="submit" class="btn btns text-light" value="Rechercher" (click)="getClientsByNom(nom)">
         <div [hidden]="bool">
           <i class=" btn btns mx-2 text-light bi bi-backspace-fill" (click)="loadInit()"></i>
         </div>
       </form>
       <button type="button"  class="btn btns mx-5 text-light"  (click)="open(content)">Ajouter client</button>

     </div>
   </div>
    <div class="p-5 tablel" *ngIf="clients; else notFound">
      <table class="table table-striped p-3">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Sexe</th>
          <th>Lieu de naissance</th>
          <th>date de naissance</th>
          <th>Téléphone</th>
          <th>Ajout compteur</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients | async">
          <td>{{client.id}}</td>
          <td>{{client.prenom}}</td>
          <td>{{client.nom}}</td>
          <td>{{client.sexe}}</td>
          <td>{{client.lieuNaissance}}</td>
          <td>{{client.dateNaissance | date: "short"}}</td>
          <td>{{client.numeroTelephone}}</td>
          <td>
            <i class="btn bi bi-plus-square-fill text-success" (click)="ajoutCompteurPopup(client.id, contentAjoutCompteur)"></i>
          </td>
          <td class="d-flex">
            <i class="btn bi bi-pencil-square text-success" (click)="detailClient(client.id, contentEdit)"></i>
            <i class="btn bi bi-trash3-fill text-danger mx-3" (click)="deleteClient(client.id)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #notFound>
    <p>Aucun resultat trouvé</p>
  </ng-template>
</div>

<!--POPUP AJOUT Client-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="ajout-utilisateur">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter utilisateur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientForm">

        <input type="text" class="form-control mb-3" placeholder="Prenom" formControlName="prenom">
        <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="nom">
        <input type="date" class="form-control mb-3" placeholder="Date de Naissance" formControlName="dateNaissance">
        <input type="text" class="form-control mb-3" placeholder="Lieu de naissance" formControlName="lieuNaissance">
        <label>Sexe</label>
        <select class="form-control mb-3" formControlName="sexe">
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
        <input type="number" class="form-control mb-3" placeholder="Numéro de téléphone" formControlName="numeroTelephone">
        <input type="number" class="form-control mb-3" placeholder="Numéro national d'identité" formControlName="numeroCni">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btns m-auto w-100 text-light"
              [disabled]="clientForm.invalid"
              (click)="c('Save click')"
              (click)="save()">
        Ajouter
      </button>
    </div>
  </div>
</ng-template>


<!--POPUP AJOUT Client-->
<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="ajout-utilisateur">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-update">Modifier client</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="clientFormEdit">

        <input type="text" class="form-control mb-3" placeholder="Prenom" formControlName="prenom">
        <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="nom">
        <input type="date" class="form-control mb-3" placeholder="Date de Naissance" formControlName="dateNaissance">
        <input type="text" class="form-control mb-3" placeholder="Lieu de naissance" formControlName="lieuNaissance">
        <label>Sexe</label>
        <select class="form-control mb-3" formControlName="sexe">
          <option value="M">Masculin</option>
          <option value="F">Féminin</option>
        </select>
        <input type="number" class="form-control mb-3" placeholder="Numéro de téléphone" formControlName="numeroTelephone">
        <input type="number" class="form-control mb-3" placeholder="Numéro national d'identité" formControlName="numeroCni">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btns m-auto w-100 text-light"
              [disabled]="clientFormEdit.invalid"
              (click)="c('Save click')"
                (click)="updateClient(clientFormEdit.value.id)">
        Ajouter
      </button>
    </div>
  </div>
</ng-template>


<!--Ajout Compteur-->
<ng-template #contentAjoutCompteur let-c="close" let-d="dismiss">
  <div class="ajout-compteur" *ngIf="villages && forages && abonnements">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-ajout-compteur">Ajouter Compteur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="compteurForm">

        <input type="text" class="form-control mb-3" placeholder="Type compteur" formControlName="type_compteur">
        <input type="text" class="form-control mb-3" placeholder="Marque compteur" formControlName="marque_compteur">
        <input type="date" class="form-control mb-3" placeholder="Date d'abonnement" formControlName="date_abonnement">

        <label>Forage</label>
        <select class="form-control mb-3" formControlName="idForage">
          <option  *ngFor="let forage of forages | async" value="{{forage.id}}">
            {{forage.nom_site}}
          </option>
        </select>

        <label>Village</label>
        <select class="form-control mb-3" formControlName="idVillage">
          <option  *ngFor="let village of villages | async" value="{{village.id}}">
            {{village.nom}}
          </option>
        </select>

        <label>Abonnement</label>
        <select class="form-control mb-3" formControlName="idAbonnement">
          <option  *ngFor="let abonnement of abonnements | async" value="{{abonnement.id}}">
            {{abonnement.libelle}}
          </option>
        </select>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btns m-auto w-100 text-light"
              [disabled]="compteurForm.invalid"
              (click)="c('Save click')"
              (click)="ajoutCompteur()">
        Ajouter
      </button>
    </div>
  </div>
</ng-template>
