<div class="main container-fluid">
  <div class="d-flex justify-content-md-between justify-content-center align-items-center client">
    <h3 class="titre">Utilisateur</h3>
    <div class="d-none d-md-block">
      <div class="user-email d-flex align-items-center">
        <span class="indice mx-2">T</span>
        <h6 class="mail-title">thiaremohamed.mt@gmail.com</h6>
      </div>
    </div>
  </div>
  <div class="contenu">
    <div class="d-block d-md-flex p-3 justify-content-between">

      <h4 class="text">Liste des utilisateurs</h4>
      <div class="d-block d-md-flex">
        <button type="button"  class="btn btns mx-3 text-light p-2"  (click)="open(content)">Ajouter utilisateur</button>
      </div>
    </div>
    <div class="p-1 tablel">
      <table class="table table-striped p-3">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Prenom</th>
          <th>Nom</th>
          <th>Nom d'utilisateur</th>
          <th>Role</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let utilisateur of utilisateurList | async">
          <td>{{utilisateur.id}}</td>
          <td>{{utilisateur.firstName}}</td>
          <td>{{utilisateur.lastName}}</td>
          <td>{{utilisateur.login}}</td>
          <td>
            <p *ngFor="let role of utilisateur.authorities">
              {{role}}
            </p>
          </td>
          <td>{{utilisateur.email}}</td>
          <td>
            <i class="bi bi-pencil-square text-success" (click)="detailUtilisateur(utilisateur.id, contentEdit)"></i>
            <i class="bi bi-trash3-fill text-danger mx-3" (click)="deleteUtilisateur(utilisateur.login)"></i>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!--POPUP AJOUT Utilisateur-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="ajout-utilisateur">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter utilisateur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm">

        <input type="text" class="form-control mb-3" placeholder="Prenom" formControlName="firstName" >
        <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="lastName">
        <input type="text" class="form-control mb-3" placeholder="Nom d'utilisateur" formControlName="login">
        <label>Role</label>
        <select class="form-control mb-3 text-black" formControlName="role">
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          <option value="RELEVEUR">RELEVEUR</option>
          <option value="CAISSIER">CAISSIER</option>
        </select>
        <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email">
        <input type="password" class="form-control mb-3" placeholder="Mot de passe" formControlName="password">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btns m-auto w-100 text-light"
              [disabled]="userForm.invalid"
              (click)="c('Save click')"
              (click)="showUtilisateur()">
        Ajouter
      </button>
    </div>
  </div>
</ng-template>



<!--POPUP Modification Utilisateur-->
<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="ajout-utilisateur" >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic">Modifier utilisateur</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body" >
      <form [formGroup]="userFormEdit">

        <input type="text" class="form-control mb-3" placeholder="Prenom" formControlName="firstName" >
        <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="lastName">
        <input type="text" class="form-control mb-3" placeholder="Nom d'utilisateur" formControlName="login">
        <label>Role</label>
        <select class="form-control mb-3 text-black" formControlName="role">
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>
          <option value="ROLE_USER">RELEVEUR</option>
          <option value="ROLE_USER">CAISSIER</option>
        </select>
        <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email">
        <input type="password" class="form-control mb-3" placeholder="Mot de passe" formControlName="password">
      </form>
    </div>
    <div class="modal-footer">
      <input type="sumit" class="btn btns m-auto w-100 text-light" value="Modifier"
             (click)="c('Save click')"
             (click)="utilisateurEditCollection()"
             (click)="updateUtilisateur(userFormEdit.value.id)">
    </div>
  </div>
</ng-template>















<!--&lt;!&ndash;POPUP Remove role to Utilisateur&ndash;&gt;-->
<!--<ng-template #content1 let-c="close" let-d="dismiss">-->
<!--  <div class="ajout-utilisateur">-->
<!--    <div class="modal-header">-->
<!--      <h4 class="modal-title" id="modal-basic">Enlever un role a un utilisateur</h4>-->
<!--      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--      <form [formGroup]="removeRoleForm">-->
<!--        <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email">-->
<!--        <select class="form-control mb-3" formControlName="libelle">-->
<!--          <option hidden disabled selected>Roles</option>-->
<!--          <option value="ADMIN">ADMIN</option>-->
<!--          <option value="RELEVEUR">RELEVEUR</option>-->
<!--          <option value="CAISSIER">CAISSIER</option>-->
<!--        </select>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <button type="button"-->
<!--              class="btn btns m-auto w-100 text-light"-->
<!--              [disabled]="removeRoleForm.invalid"-->
<!--              (click)="c('Save click')"-->
<!--              (click)="removeRole()">-->
<!--        Enlever role-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
